<div class="question-card rounded p-2 mb-3">
  <p><%= @question %></p>
  <p><em>-You</em></p>
</div>

<div class="question-card rounded p-2 mb-3">
  <p><%= @answer %></p>
  <p><em>-Your coach</em></p>
</div>

<%= link_to "Ask a new question", "/ask" %>
